{% extends 'food/base.html'%}

{% block content %}
        {% include 'food/navbar.html'%}
        <div class = "container">
                <div class = "row">
                        <div class = "col-md-6">
                                <img  src={{detail.item_image}} height="300px" alt="not found">
                        </div>
                        <div class = "col-md-6">
                                <h3>{{detail.item_name}}</h3><br>
                                <h5>${{detail.item_price}}</h5><br>
                                <h6>{{detail.item_desc}}</h6>
                                <a href="{% url 'food:delete_item' detail.pk%}">Delete</a>
                                                        
                        </div>
                </div>

        </div>

{% endblock %}