{% extends 'food/base.html'%}


{% block content %}

    {% include 'food/navbar.html' %}

                {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                        </div>
                        
                        {% endfor %}
                {% endif %}
        
        
    
        <!-- <h1>welcome to index page</h1> -->
        {% for item in items %}
            <div class = "container text-center"></div>
                <div class="row align-items-start ">
                    <div class="col">
                        <img  src={{item.item_image}} height="180px" alt="not found">
                    </div>
                    <div class="col">
                        <h3>{{item.item_name}}</h3><br>
                        <h5>${{item.item_price}}</h5><br>
                        <h6>{{item.item_desc}}</h6>
                        <h6>Create by : {{item.user_name}}</h6>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="{% url 'food:detail' item.pk %}" role="button">Detail</a>
                        <a class="btn btn-success" href="{% url 'food:update_item' item.pk %}" role="button">Update</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    

{% endblock %}
