<nav class="navbar navbar-dark bg-dark ">
    
      <a class="navbar-brand" href="{% url 'food:index' %}">FoodApp</a>
      <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'food:create_item' %}">Add Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
          <li class="nav-item">
          <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <a class="nav-link active" href="{% url 'login' %}">login</a>
        </li>
        {% endif %}

      </ul>

      
   
</nav>